{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}

<style type="text/css">
    .title {
      color: #c80;
      font-weight: bold;
    }
    .powered{
      position: relative;
      top: 77%
      color: #cc0;
      font-style: italic;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <h3><a href="{% url 'history:index' %}">History</a></h3>
            {% if history_list %}
                <ul>
                {% for h in history_list %}
                    <li>{{ h.history_date.year }}.{{ h.history_date.month }}.{{ h.history_date.day }} {{ h.history_text }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No History.</p>
            {% endif %}

    </div>
    <div class="row text-center">
        <h3><a href="{% url 'polls:index' %}">투표 App</a></h3>
            {% if latest_question_list %}
                <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                    <p>No polls are available.</p>
            {% endif %}
    </div>
    <div class="row text-center">
         <h3><a href="/admin/">유용한 TIP 북마크</a></h3>
          <p>같이 공부해봐요</p>
    </div>
{% endblock content%}

